
body{
  margin: 0;
}

.selected {
  font-weight: bold;
}

#messages {
  overflow: hidden;
}
#left{
  width: 50%;
  float: left;
}

#right{
  width: 50%;
  float: right
}
#allChannelsBox {
  height: 50%;
}
#ownChannelsBox {
  height: 50%;
}

#channelName {
  font-weight: bold;
}

#messagesDiv {
  min-height: 230px;
}

#messageWrap {
  overflow: hidden;
}

#messagesTable {
  float: bottom
}

#messageForm {

}
