
body{
  margin: 0;
}

.selected {
  font-weight: bold;
}

#messages {
  
}
#left{
  width: 33.33%;
  width: calc(100% / 3);
  display: inline-block;
}

#center{
  width: 33.33%;
  width: calc(100% / 3);
  display: inline-block;
  background-color: blue;
}
#right{
  width: 33.33%;
  width: calc(100% / 3);
  display: inline-block;
}
#allChannelsBox {
  height: 50%;
}
#ownChannelsBox {
  height: 50%;
}
